
h2{
	float left;
	display: inline-block;
	background-color: black;
	background: hsl(0, 100%, 25%);
	padding: 12px 12px 18px 12px;
	margin: 0px;
	font-family: Courier New;
	
	
}
nav ul{
	margin: 0;
	padding: 10 0 0 15px;
	display: inline-block;
}

nav ul li{
	
	background: hsl(0, 100%, 25%);
	color: white;
	display: inline-block;
	list-style-type: none;
	padding: 5px 10px;
}

nav ul li a{
	color: white;
}

header{
	
	background: hsl(0, 100%, 25%);
	color: white;
	display: inline-block;
	margin: 0px;
}

li{

	display: inline-block;
	margin: 1px;
	padding: 3px;
}
a{
	display: inline-block;
	background-color: hsl(0, 100%, 25%);
}
body{
	vertical-align: text-top;
	margin: 0;
	background-color: hsl(0, 100%, 25%);
}
footer{
	font-family: Courier New;

}
.img{
	background-image:url("13071954_1084460421621701_2186852932940494868_o.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.f1{
	color: white;
}

.container{
	text-align: center;
	color: white;
}
.centered{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: brown;
}
.text-block{
	position: absolute;
	bottom: 20px;
	right: 20px;
	background: black;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	font-family: Arial;
}
.home1{
	position: fixed;
	background-image: url("http://wallpaperget.com/images/superheroes-hd-wallpapers-1.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	background: hsl(0, 100%, 25%);
}
.c1{

	margin: 0px;
	background-color:black;
	padding-right: 20px;

}

.avatar{
	vertical-align: text-top;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.textarea{
	position: absolute;
	transform: translate(25%,25%);

}

.av1{
	border: 10px solid #ccc;
	background-color: #eee;
	border-radius: 5px;
	padding: 16px;
	margin: 16px 0px;
}
.av{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: silver;
}
.av::after{
	content: "";
	clear: both;
	display: table;
}
.av img{
	float: left;
	margin-right: 20px;
	border-radius: 50%;
}
.av span{
	font-size: 20px;
	margin-right: 15px;
}
.av img{
	margin: auto;
	display: inline-block;
}

}
.av1 img{
	float: left;
	margin-right: 20px;
	border-radius: 50%;
}
.av1 span{
	font-size: 20px;
	margin-right: 15px;
}
.av1 img{
	margin: auto;
	display: inline-block;
}
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}
.title {
    color: grey;
    font-size: 18px;
}

